---
interface Props {
  title: string;
  image?: string;
}


const { title, image } = Astro.props;
---

<div class="py-4 px-3 m-2 border border-[#f2444a] rounded-lg flex flex-col gap-2 text-center">
  {image && <img src={image} alt={title} class="w-[150px] h-[150px] rounded-lg" />}
  <h3 class="text-xl mt-1 font-semibold text-[#f2444a]">{title}</h3>
</div>
