---
---

<header class="flex justify-between items-center py-4 px-6 border-b max-w-[1080px] m-auto">
  <img src="https://i.imgur.com/4ClvrNd.png" alt="Logo" class="w-[200px] h-auto" />
  <nav>
    <ul>
      <li><a href="/contact" class="text-sm">Entrar em Contato</a></li>
    </ul>
  </nav>
</header>
