---
import Card from "../components/Card.astro";
---

<h3 class="text-[#F2444A] font-semibold px-6">C O N E C T A M O S</h3>
<div class="flex flex-wrap justify-center mt-4 mb-6">
  <Card title="Arraial d'Ajuda" image="../src/images/Arraial-dAjuda.webp" />
  <Card title="Trancoso" image="../src/images/Trancoso.webp" />
</div>
