---
import Card from "../components/Card.astro";
---

<h3 class="text-[#F2444A] text-3xl font-semibold px-6">C O N E C T A M O S</h3>
<div class="flex flex-wrap justify-center mt-4 mb-6 py-16">
  <Card title="Arraial d'Ajuda" image="https://i.imgur.com/uP1zl6V.png" />
  <Card title="Trancoso" image="https://i.imgur.com/UZkvt9m.png" />
</div>
